{% extends "base.html" %}

{% block breadcrumbs %}
  <div class="breadcrumb-container">
    <nav class="breadcrumb">
      <a href="{% url 'main' %}">Главная</a>
      <span class="separator">&gt;</span>
      <a href="{% url 'profile' %}">Личный кабинет</a>
      <span class="separator">&gt;</span>
      <span>Редактировать заявку</span>
    </nav>
  </div>
{% endblock %}

{% block content %}
<div class="login-container">
  <h2>Редактировать заявку</h2>
  <form method="post" class="login-form" novalidate>
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn-login">Сохранить</button>
    <a href="{% url 'profile' %}" class="login-link">Отмена</a>
  </form>
</div>
{% endblock %}
