{% extends 'base.html' %} {% block content %}

<section class="faq-container">
  <h1>Часто задаваемые вопросы</h1>

  <div class="faq-item">
    <h3 class="question">1. Какие услуги предоставляет ваша компания?</h3>
    <p class="answer">
      Мы предоставляем консультационные услуги в области коммерческой
      деятельности, управления, стратегического планирования и цифровой
      трансформации бизнеса.
    </p>
  </div>

    <div class="faq-item">
    <h3 class="question">2. Можно ли получить индивидуальное предложение?</h3>
    <p class="answer">
      Да, мы разрабатываем индивидуальные решения, адаптированные под
      потребности каждого клиента.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">3. Как оставить заявку?</h3>
    <p class="answer">
      Вы можете оставить заявку, перейдя на главную страницу и нажав кнопку "Оставить заявку".
      Заполните все обязательные поля и нажмите "Отправить".
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">4. Какие данные нужно указать в заявке?</h3>
    <p class="answer">
      В заявке необходимо указать имя, адрес электронной 
      почты, выбрать категорию заявки и кратко описать суть вашего запроса.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">5. Что происходит после отправки заявки?</h3>
    <p class="answer">
      После отправки заявка поступает на рассмотрение нашим опытным менеджерам.
      В случае необходимости с вами свяжутся по указанной электронной почте.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">6. Как долго рассматривается заявка?</h3>
    <p class="answer">
      Среднее время обработки заявки составляет от 1 до 3 рабочих дней.
      В отдельных случаях срок может быть увеличен, о чём мы вас проинформируем.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">6. Как понять, что моя заявка принята?</h3>
    <p class="answer">
      После успешной отправки вы получите уведомление на вашу электронную почту.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">7. Кто рассматривает заявки?</h3>
    <p class="answer">
      Все заявки обрабатываются опытными менеджерами компании ООО 
      «ЦЕНТР ТЕХНОЛОГИИ РАЗВИТИЯ», имеющими экспертизу в области коммерческого консультирования.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">8. Можно ли изменить заявку после отправки?</h3>
    <p class="answer">
      Вы можете редактировать свою заявку в своем личном кабинете если она еще
      не поступила к рассмотрению менеджерам.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">9. Как использовать форму обратной связи?</h3>
    <p class="answer">
      Перейдите в раздел "Обратная связь", заполните форму, кратко опишите свой вопрос или проблему, и нажмите "Отправить". 
      Мы постараемся ответить в кратчайшие сроки.
    </p>
  </div>

  <div class="faq-item">
    <h3 class="question">10. Могу ли я отправить несколько заявок?</h3>
    <p class="answer">
      Да, вы можете отправить несколько заявок, если 
      у Вас есть несколько разных вопросов или запросов по различным темам.
    </p>
  </div>

  <div class="faq-item last-faq-item">
    <h3 class="question">11. Какие темы входят в категории заявок?</h3>
    <p class="answer">
      Категории заявок охватывают стратегическое планирование, 
      маркетинг, управление персоналом, автоматизацию процессов и другие направления бизнес-консалтинга.
    </p>
  </div>
</section>

{% endblock %}
