{% extends "base.html" %} {% block content %}
<div class="profile-wrapper">
  <h2>Менеджмент панель</h2>

  <div class="table-container">
    <h3>Назначенные заявки</h3>
    <table class="submission-table">
      <thead>
        <tr>
          <th>Название</th>
          <th>Пользователь</th>
          <th>Статус</th>
          <th>Дата подачи</th>
          <th>Дата обработки</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for sub in submissions %}
        <tr>
          <td>{{ sub.name }}</td>
          <td>{{ sub.user.username }}</td>
          <td>{{ sub.status }}</td>
          <td>{{ sub.submission_date|date:"d.m.Y H:i" }}</td>
          <td>
            {% if sub.processed_at %} {{ sub.processed_at|date:"d.m.Y H:i" }}
            {%else%} - {% endif %}
          </td>
          <td>
            <a
              href="{% url 'manager_submission_detail' sub.id %}"
              class="btn-small btn-edit"
              >Открыть</a
            >
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">Нет заявок, назначенных вам.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 style="margin-top: 3rem;">Формы обратной связи</h3>

  <table class="submission-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for fb in feedbacks %}
      <tr>
        <td>{{ fb.id }}</td>
        <td>{{ fb.name }}</td>
        <td>{{ fb.status }}</td>
        <td>
          <a href="{% url 'manager_feedback_detail' fb.id %}" class="btn-small btn-edit">Открыть</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Нет форм обратной связи.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
</div>
{% endblock %}
